body{
    background-color:white;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

h1,h2,h3,h4{ 
    text-decoration: lightslategray underline;
}



a{
    color: lightslategrey;
    font-size: 18px;
}

p{
    margin-bottom:20px;
}

.projects{
    margin-top: 15px;
    border-bottom: solid lightslategrey 1px;
    padding-bottom: 30px;
}

.repos{
 
    height: 250px;
    width: 250px;
    border-radius: 8px;
    align: left;
}

#tolinks{
    position: absolute;
    bottom: 0px;
}

.links {
    position: auto;
    bottom: 0px;
}

header{
    width:100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #343A40;
    padding-top: 5px;
  }

.content{
    border: 1px solid white;
    padding: 25px 25px 25px 25px;
    margin-top: 40px;
    background-color: #343A40;
    color: white;
    border-radius: 10px;

}
    

a:hover,i:hover {
    color:red;
}

  
#socials {
    position: relative;
    bottom: -40%;
    right: 42%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background: slategray;
    border-radius: 8px;
  }
  
.nav {
    height:-4px;
}